header {
  position: relative;
  height: 78px;
}

.navbar {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: #FF0000;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-right: 72px;
}

ul {
  text-decoration: none;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.wraper img {
  width: 100%;
  height: 700px;
}

.wraper h2 {
  text-decoration: none;
  font-family: "Montserrat", Helvetica, sans-serif;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.wraper p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 0;
}

.button {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;

}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  height: 70px;
}

.footer div {
  width: 50%;
}

.copyright {
  width: 50px;
  display: flex;
  justify-content: center;
}